<%- include('partials/header') %>
    <body>
        <h1> <%= postTitle %> </h1>
            <p> <%= postBody %> </p>
            <form action="/delete/<%=postTitle%>" method="get">
                <button type="submit" id="<% postTitle %>">Delete Blog</button>
            </form>
            </body>
            <%- include('partials/footer') %>